body {
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-wrap:normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.gridContainer {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-areas:
    "navigation"
    "pageContent";
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
}

.navigation {
  grid-area: navigation;
  background-color: pink;
}

.pageContent {
  position: relative;
  grid-area: pageContent;
  background-color: white;
}
