.home {
  height: 100vh;
  display: grid;
  grid-template-areas:
    /* "header header" */
    "menu main"
    "menu main";
  grid-template-columns: min-content 1fr;
  grid-template-rows: 50px calc(100% - 50px);
  /* gap: none; */
  column-gap: 1%;
  width: 98.5%;
}

.header {
  grid-area: header;
  background-color: rgb(200, 200, 200);
}

.menu {
  grid-area: menu;
  background-color: rgb(100, 100, 200);
}

.main {
  grid-area: main;
  position: relative;
  /* margin-left: 1%; */
  top: 0;
  left: 0;
}